.form-group {
    margin-top: 2em;
    margin-bottom: 2em;
}

label {
  float: left;
  width: 300px;
}

.form-group p {
  display: block;
  color: rgb(70, 70, 70);
  margin-left: 2em;
  margin-top: 0.5em;
}

input[type='number'] {
  width: 100px;
}
